@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}


h1 {
    font-weight: 400;
    font-size: 9vw;
    line-height: 52px;
    text-align: center;
    color: #5D5D7D;
    margin: 7.5vh auto 5vh;
}

h1,button,a{
    text-transform: capitalize;
}

p {
    font-weight: 400;
    font-size: 5vw;
    line-height: 6vw;
    text-align: center;
    color: #5D5D7D;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin: 10vw 5.5vw;
}

#sct-upleft{
    height: 50vh;
    width: 100%;
    position: absolute;
    top:0vw;
}

#sct-downright {
    background-color: rgba(93, 93, 125,0.16);
    position: absolute;
    bottom: 0;
    height: 50vh;
    width: 100%;
}

header {
    display: none;
}

button {
    font-size:3.5vh;
    height: 7vh;
    width: 80vw;
    text-align: center;
    color: #FFFFFF;
    border-radius: 40px;
    background: #9499EA;
    margin: 0 auto 0;
    display: block;
    border: none;
}

img {
    position: absolute;
    top: 5vh;
    left: 20vw;  
    display: block;
    width: 60vw;
}

/* cellphone landscape*/

@media screen and (orientation:landscape) {
    
    h1{
        font-size: 7vh;
        margin: 2.5vh auto;
        line-height: 32px;
    }

    p{
        font-size: 4.5vh;
        margin: .2vh 13.5vw 2vh;
        line-height: 10vh;
    }

    img{
        top: 3.5vh;
        width: 35vh;
        left: 42.5vw;
    }

    button{
        font-size: 6.5vh;
        height: 10vh;
        width: 30vw;
    }
}

/* tablet landscape */

@media screen and (orientation:landscape){

}

/* desktop */